.alimentacion {
    overflow: scroll;
    position: relative;
}

.alimentacion-objetivos {
    display: flex;
    max-width: 800px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.alimentacion-objetivos .boton-seleccion {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid #cccccc4b;
    font-size: clamp(12px, 1vw, 16px);
}

.alimentacion-objetivos .boton-seleccion.seleccionado {
    background-color: black;
    border: 1px solid #ccc;
}

.agregar-alimentacion {
    min-width: 200px;
    margin: 5% auto;
    border: 1px dotted #cccccc9d;
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.801);
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.agregar-alimentacion:hover {
    background-color: #ffffff1a;
    border: 1px dotted white;
    cursor: pointer;
    color: white;
}

.agregar-alimentacion span {
    padding: 12px;
}

/*  ESTILOS MODAL AGREGAR ALIMENTACION  */

.modal-alimentacion-agregar-titulo {
    display: block;
    text-align: center;
    padding: 10px;
    color: goldenrod;
    font-size: clamp(18px, 2vw, 24px);
    text-shadow: 1px 1px 0px rgba(250, 87, 23, 0.918);
}

.form-agregar-alimentacion {
    width: 80%;
    height: 50%;
    margin: auto;
    overflow: scroll;
    padding: 5p 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-agregar-alimentacion-botones {
    gap: 5px;
    padding: 5px 0;
}

.form-agregar-alimentacion-botones button {
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.form-agregar-alimentacion-botones button:hover {
    background-color: white;
    color: black;
}

.form-agregar-alimentacion div {
    width: 100%;
    padding: 8px;
    gap: 10px;
}

.form-agregar-alimentacion input {
    border: none;
    border-bottom: 1px solid #ffffff83;
    background-color: transparent;
    color: white;
    padding: 4px;
}

.form-agregar-alimentacion-objetivo {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.form-agregar-alimentacion-macros select,
.form-agregar-alimentacion-objetivo select {
    border: none;
    border-bottom: 1px solid #ffffff83;
    background-color: transparent;
    color: white;
    background-color: black;
    padding: 4px;
}

.form-agregar-alimentacion-descripcion {
    display: flex;
    flex-direction: column;
}



.form-agregar-alimentacion-macros {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/*  ESTILOS PLAN DE ALIMENTACION  */

.alimentacion-tarjetas {
    display: flex;
    gap: 12px;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    margin-top: 5%;
}

.tarjeta-alimentacion {
    position: relative;
    width: 90%;
    max-width: 250px;
    display: flex;
    cursor: pointer;
}

.tarjeta-informacion {
    width: calc(100% + 20px);
    bottom: 0;
    border-radius: 8px;
    background-color: #29292907;
    border: 1px solid white;
    padding: 12px;
    pointer-events: none;
}

.tarjeta-informacion p {
    padding: 0px !important;
    font-size: 14px;
    line-height: 1.5;
}

.tarjeta-informacion span {
    font-weight: 600;
}

.tarjeta-informacion p {
    padding: 5px 0px;
}


/* Estilos del Modal Alimentacion */

.modal-alimentacion {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    background-color: #000000c0;
    overscroll-behavior: contain;
    width: 100%;
    backdrop-filter: blur(2px);
}

.close-modal {
    z-index: 3;
    position: absolute;
    right: 5%;
    top: 3%;
    cursor: pointer;
}

.modal-alimentacion-contenido {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 5px;
    font-size: clamp(14px, 1vw, 16px);
}

.modal-alimentacion-contenido.agregar-plan {
    position: relative !important;
    top: 0;
    left: 0;
    border: 1px solid #ffffff39;
    height: 80%;
    padding: 12px;
    max-width: 600px;
    width: 90%;
}

.modal-alimentacion-titulo {
    position: absolute;
    bottom: 100%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.modal-alimentacion-titulo h2 {
    padding: 4px;
}

.alimentacion-contenido-titulo {
    font-weight: 600;
    color: rgb(230, 123, 52);
    margin-bottom: 15px;
}

.alimentacion-contenido-wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    overflow: scroll;
}

/* ------------------ */

.grid-container {
    display: grid;
    width: 95%;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "objetivo carbohidratos"
        "grasas grasas"
        "descripcion descripcion" 
        "comidas comidas"
    ;
    place-items: center;
}

.objetivo, .carbohidratos, .grasas {
    width: 100%;
}

.objetivo {
    grid-area: objetivo;
}

.carbohidratos {
    grid-area: carbohidratos;
}

.grasas {
    grid-area: grasas;
    max-width: 380px;
    width: 100%;
}

.descripcion {
    grid-area: descripcion;
    max-width: 380px;
    width: 100%;
}

.comidas {
    grid-area: comidas;
}

.descripcion textarea {
    width: 100%;
    background-color: black;
    resize: none;
    color: white;
    height: 100px;
    border-radius: 4px;
    padding: 4px;
}



.comidas input {
    padding: 8px 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.contenedor-comidas {
    display: flex;
    gap: 10px;
}

.comidas button {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: background-color .5s;
}

.comidas button:hover {
    background-color: rgba(128, 128, 128, 0.173);
}

.lista-comidas {
    display: flex;
}

/* Responsive */
@media (max-width: 420px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "objetivo"
        "carbohidratos"
        "grasas"
        "descripcion"
        "comidas";
        flex-direction: column;
    }
}

/* Componente option Dropper */

.drop-menu {
    position: relative;
    border: 1px solid white;
    border-radius: 3px;
}

.drop-menu-title {
    display: flex;
}

label {
    color: white;
}

.drop-menu-title button {
    flex-grow: 1;
    background-color: black;
    color: white;
}

.drop-menu-text {
    cursor: pointer;
}

.drop-menu-context {
    position: absolute;
    width: 100%;
    height: 0%;
    border-radius: 3px;
    top: 100%;
    overflow: hidden;
    transition: height .8s ease;
    z-index: 10;
}

.drop-menu-context button {
    display: block;
    width: 100%;
    padding: 8px 4px;
    transition: background-color 1s,
    color .5s;
}

.drop-menu-context button:hover {
    background-color: black;
    color: white;
}

.drop-shown {
    color: white;
    height: 200px;
    max-height: max-content;
}