.alimentacion {
    overflow: scroll;
    position: relative;
}

.alimentacion-objetivos {
    display: flex;
    max-width: 800px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.alimentacion-objetivos .boton-seleccion {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid #cccccc4b;
    font-size: clamp(12px, 1vw, 16px);
}

.alimentacion-objetivos .boton-seleccion.seleccionado {
    background-color: black;
    border: 1px solid #ccc;
}          

.agregar-alimentacion {
    min-width: 200px;
    margin: auto;
    border: 1px dotted #cccccc9d;
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.801);
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.agregar-alimentacion:hover {
    background-color: #ffffff1a;
    border: 1px dotted white;
    cursor: pointer;
    color: white;
}

.agregar-alimentacion span {
    padding: 12px;
}

/*  ESTILOS MODAL AGREGAR ALIMENTACION  */

.modal-alimentacion-agregar-titulo {
    display: block;
    text-align: center;
    padding: 10px;
    color: goldenrod;
    font-size: clamp(18px, 2vw, 24px);
    text-shadow: 1px 1px 0px  rgba(250, 87, 23, 0.918);
}

.form-agregar-alimentacion {
    width: 90%;
    height: 85%;
    margin: auto;
    overflow: scroll;
    padding: 5px 0;
}

.form-agregar-alimentacion-botones {
    gap: 5px;
    padding: 5px 0;
}

.form-agregar-alimentacion-botones button {
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.form-agregar-alimentacion-botones button:hover {
    background-color: white;
    color: black;
}

.form-agregar-alimentacion div {
    width: 100%;
    padding: 8px;
    gap: 10px;
}

.form-agregar-alimentacion input {
    border: none;
    border-bottom: 1px solid #ffffff83;
    background-color: transparent;
    color: white;
    padding: 4px;
}

.form-agregar-alimentacion-objetivo {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.form-agregar-alimentacion-macros select,
.form-agregar-alimentacion-objetivo select {
    border: none;
    border-bottom: 1px solid #ffffff83;
    background-color: transparent;
    color: white;
    background-color: black;
    padding: 4px;
}

.form-agregar-alimentacion-descripcion {
    display: flex;
    flex-direction: column;
}

.form-agregar-alimentacion-descripcion textarea {
    resize: none;
    height: 70px;
    border: none;
    border-bottom: 1px solid #ffffff83;
    outline-style: none;
    background-color: transparent;
    padding: 4px;
    color: white;
}

.form-agregar-alimentacion-descripcion textarea:focus,
.form-agregar-alimentacion-descripcion select:focus {
    border-bottom: 1px solid #ffffff;
    border-left: 1px dotted #ffffff83;
    border-right: 1px dotted #ffffff83;
    border-top: 1px dotted #ffffff83;
}

.form-agregar-alimentacion-macros {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/*  ESTILOS PLAN DE ALIMENTACION  */

.alimentacion-tarjetas {
    display: flex;
    gap: 12px;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    margin-top: 5% ;
}

.tarjeta-alimentacion {
    position: relative;
    border-radius: 5px 5px 0 0;
    margin: 5% 2%;
    width: 90%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    height: 300px;
    cursor: pointer;
}

.tarjeta-alimentacion img {
    box-shadow: 0px -4px 0px 3px #fff;
    height: 50%;
    object-fit: cover;
    border-radius: inherit;
    width: 100%;
}

.tarjeta-informacion {
    position: absolute;
    height: 50%;
    width: calc(100% + 20px);
    border: 1px solid rgba(255, 255, 255, 0.336);
    bottom: 0;
    border-radius: 4px;
    background-color: #29292907;
    overflow: scroll;
    box-shadow: 0px 0px 0px 2px #fff;
    padding: 8px 12px;
    pointer-events: none;
}

.tarjeta-informacion span {
    font-weight: 600;
}

.tarjeta-informacion p {
    padding: 5px 0px;
}


/* Estilos del Modal Alimentacion */

.modal-alimentacion {
    position: fixed;
    top: 0;
    z-index: 1000000000;
    height: 100%;
    background-color: #000000c0;
    overscroll-behavior: contain;
    width: 100%;
}

.close-modal {
    position: absolute;
    right: 5%;
    top: 3%;
    cursor: pointer;
}

.modal-alimentacion-contenido {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background-color: black;
    border: 1px solid #ffffff83;
    border-radius: 5px;
    font-size: clamp(14px, 1vw, 16px);
}

.modal-alimentacion-titulo {
    position: absolute;
    bottom: 100%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.modal-alimentacion-titulo h2 {
    padding: 4px;
}

.alimentacion-contenido-titulo {
    font-weight: 600;
    color: rgb(230, 123, 52);
    margin-bottom: 15px;
}

.alimentacion-contenido-wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    overflow: scroll;
}