.loader-principal {
    background-color: black;
    width: 100%;
    height: 100vh ;
    position: relative;
}

.loader-main {
    position: relative;
    height: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.loader-container {
    height: 50%;
    position: relative;
    width: 50%;
    left: 50%;
    max-width: 125px;
    transform: translateX(-50%);
}

[class*="barra"] {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    top: 50%;
}

.barra1 {
    left: 15%;
}

.barra2 {
    left: 30%;
}

.barra3 {
    left: 45%;
}

.barra4 {
    left: 60%;
}

.barra5 {
    left: 75%;
}

.cargando-label {
    color: white;
    font-weight: 400;
    text-align: center;
}
